{% extends "base.html" %}
{% load static %}
{% block title %}
    Home Page
{% endblock title %}

{% block content %}
<div class="row type">
  <div class="col-6 active">
     <p><center><b>For You</b></center></p>
  </div>
  <div class="col-6 ">
    <p><center><b>Following</b></center></p>
 </div>
</div>
<div class="container">
  <div class="row tweet">
    <div class="col-2">
      <!-- Profile image -->
    </div>
    <div class="col-10">
      <form class="tweet-form" action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" placeholder="What is happening?!" name="body" class="tweet" required>
          <input id="tweet-image" type="file" name="media" accept="image/*,video/*" hidden>
          <label class="tweet-media" for="tweet-image"><i class="fa-regular fa-image"></i></label>
          <button class="btn" type="submit">Post</button>
      </form>
    </div>
  </div>

  <!-- Posts Start -->
  <div class="posts">
    {% for post in posts %}
    <!-- One Post Start -->
    <div class="row post-one mt-3">
      <div class="col-1 post-avatar">
          <img class="avatar" src="{% static '/images/default.jpg' %}" alt="Profile picture">
      </div>
      <div class="col-10 post">
        <div class="post-user-info">
          <b class="main">{{ post.user.username }}</b>
          <span class="grey"> @{{ post.user.username }} | {{ post.created|timesince }} ago</span>
          <div class="content mt-2">
              <div class="post mb-3">
                <p class="main">{{ post.body }}</p>
                {% if post.media %}
                  <img src="{{ post.media.url }}" alt="Tweet media" class="image-tweet">
                {% endif %}
              </div>
              <div class="actions d-flex justify-content-between mt-3 ">
<a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-outline-secondary">
  💬 {{ post.comments.count }}
</a>                <div class="action small like"><i class="fa-regular fa-heart"></i> {{ post.likes }}</div>
                <div class="action small save">
                  <a href="{% url 'toggle_bookmark' post.id %}">
                    <i class="fa-regular fa-bookmark"></i>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- One Post End -->
    {% empty %}
      <p class="text-muted">Hozircha post yo‘q</p>
    {% endfor %}
  </div>
  <!-- Posts End -->
</div>
{% endblock content %}
